<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="default.aspx" />
                <remove value="Default.htm" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <add value="index.html" />
                <add value="home.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
