#auction .auctionDeep {
    width: 100%;
    height: 79vh;
    position: relative;
}

#auction .gradiantColor {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 0, 0, 0)2%, #2b2b2b 85%);
    position: absolute;
    bottom: -1px;
    left: 0;
}

#auction .auctionInfo {
    width: 85%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -5%);
}

#auction .auctionInfo .userInfo {
    all: unset;
    cursor: pointer;
    background-color: var(--dark-gray);
    border-radius: var(--_50px);
}

#auction .auctionInfo .userInfo img {
    border-radius: var(--_50px);
}

#auction .auctionInfo .userInfo .F3 {
    font-size: .9rem;
    opacity: .9;
}

#auction .auctionInfo .F2 {
    font-size: 2.8rem;
    color: var(--lemon);
}

#auction .LuEye {
    font-size: 1.1rem;
    color: var(--lemon);
}

#auction .btnTemp-outLine {
    font-size: .9rem;
    background: none;
}

#auction .btnTemp-outLine:hover .LuEye {
    color: var(--black);
}

#auction .btnTemp-outLine:hover {
    background-color: var(--lemon);
}

#auction .timer {
    background-color: #2b2b2bb0;
    border-radius: var(--_20px);
}

#auction .timer .F4 {
    font-size: .8rem;
    opacity: .9;
}

#auction .timer .F2 {
    font-size: 1.8rem;
    color: var(--white);
}

#auction .timer .F6 {
    font-size: 2rem;
}