/* ------------------
# main
--------------------- */

#memberProducts hr {
    color: rgba(255, 255, 255, 0.459);
    margin: 0;
}

/* ------------------
# product Nave
--------------------- */
#memberProducts .productNave .parontComponant {
    margin: 0;
    margin: auto;
    border-bottom: 2px solid var(--dark-gray);
    cursor: pointer;
    transition: .3s all;

}

#memberProducts .productNave .parontComponant .naveItemTitle,
#memberProducts .productNave .parontComponant .naveItenNumper,
#memberProducts .productNave .parontComponant .navIcon {
    opacity: .6 !important;
}

#memberProducts .productNave .parontComponant .naveItemTitle {
    font-size: calc(100% + .09vw + .09vh);
    color: var(--white);
    text-transform: capitalize;
    font-family: WorkSans-S;
}

#memberProducts .productNave .parontComponant .naveItenNumper {
    width: 24px;
    height: 24px;
    background-color: var(--gray);
    border-radius: 50%;
    font-family: SpaceMono-R;
    font-size: .8rem;
    color: var(--lemon);
}

#memberProducts .productNave .parontComponant .navIcon {
    font-size: calc(100% + .15vw + .15vh);
    color: var(--lemon);
}


#memberProducts .productNave .parontComponant.active {
    border-bottom: 2px solid var(--white);
}

#memberProducts .productNave .parontComponant.active .naveItemTitle,
#memberProducts .productNave .parontComponant.active .naveItenNumper,
#memberProducts .productNave .parontComponant.active .navIcon {
    opacity: 1 !important;
}


/* ------------------
# product Cart Componants
--------------------- */
#memberProducts .productCartComponant {
    background-color: var(--gray);
    margin-bottom: 2px;
}

/* -----------NFTs */
#memberProducts .productCartComponant .card * {
    text-decoration: none;
}

#memberProducts .productCartComponant .card {
    background-color: var(--dark-gray);
    border-radius: var(--_20px);
    overflow: hidden;
    text-decoration: none;
}

#memberProducts .productCartComponant .card .CrdTools {
    position: relative;
    overflow: hidden;
}


#memberProducts .productCartComponant .card .card-text {
    font-size: calc(100% + .05vw + .05vh);
}

#memberProducts .productCartComponant .card .userinfo {
    all: unset;
    cursor: pointer;
}

#memberProducts .productCartComponant .card .userinfo img {
    border-radius: var(--_50px);
}

#memberProducts .productCartComponant .card .userinfo .F4 {
    font-size: .9rem;
    opacity: .9;
}

#memberProducts .productCartComponant .card .prodictInfo .F4 {
    font-size: .8rem;
    opacity: .4;
}

#memberProducts .productCartComponant .card .prodictInfo .F3 {
    opacity: .9;
    font-size: .9rem;
}

/* -----------collection */
#memberProducts .productCartComponant .item a {
    all: unset;
}

#memberProducts .productCartComponant .item img {
    border-radius: var(--_20px);
}

#memberProducts .productCartComponant .item .collectionNum {
    font-size: 1.2rem;
    color: var(--black);
    background-color: var(--lemon);
    border-radius: var(--_20px);
    cursor: pointer;
    transition: .4s all;
}

#memberProducts .productCartComponant .item .F3 {
    font-size: 1.2rem;
}

#memberProducts .productCartComponant .item .F4 {
    font-size: .8rem;
}

#memberProducts .productCartComponant .LuMoveRight,
#memberProducts .productCartComponant .LuMoveLeft {
    font-size: 1.1rem;
}

#memberProducts .productCartComponant .btnTemp:hover {
    color: var(--black);
    background-color: var(--lemon);
}

#memberProducts .productCartComponant .bg-burly {
    background: burlywood;
}
